name: oauth2_client

description: Flutter library for interacting with OAuth2 servers, with classes for transparent authorized requests, secure OAuth token storage, automatic token refeshing.
version: 3.2.2
homepage: https://github.com/teranetsrl/oauth2_client
repository: https://github.com/teranetsrl/oauth2_client
environment:
  sdk: '>=2.14.0 <3.11.0'

dependencies:
  flutter:
    sdk: flutter
  crypto: ^3.0.3
  flutter_secure_storage: ^9.0.0
  flutter_web_auth_2: ^2.2.1
  http: ^1.1.0
  meta: ^1.8.0
  random_string: ^2.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.1.7
  mockito: ^5.4.2
  flutter_lints: ^2.0.0

# The following section is specific to Flutter.
flutter: null

# To add assets to your package, add an assets section, like this:
# assets:
#  - images/a_dot_burr.jpeg
#  - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/assets-and-images/#from-packages
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/assets-and-images/#resolution-aware.
# To add custom fonts to your package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/custom-fonts/#from-packages
